* {
  padding: 0;
  margin: 0;
}

.back {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  
}

.flex {
  display: flex;
  justify-content: center;
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  width: 480px;
  border: 10px solid rgb(235, 141, 157);
  background-color: rgba(187, 230, 231, 0.3);
  border-radius: 50px;
  font-size: 1.2rem;
  font-family: sans-serif bold;
  text-align: center;
  box-shadow:
    0 0 8px 10px #fff,  /* inner white */
    0 0 8px 8px rgb(95, 154, 182); /* outer cyan */
}

.black {
  color: black;
}

input[type='file'] {
  color:whitesmoke;
}

.color {
  height: 550px;
  width: 550px;
  border: 10px solid rgb(7, 34, 85);
  background-color: rgba(7, 34, 85, 0.5);
}

.white {
  color:whitesmoke;
  display: inline-grid;
  width: 170px;
  font-weight: bold;
}

.box {
  width: 300px;
  height: 25px;
  text-align: center;
  border-bottom: 0px;
  border-right: 0px;
  border-radius: 3px;
  color: rgb(7, 34, 85);
  font-weight: bold;
  font-size: medium;
}

.login {
  padding: 10px 30px;
  background-color: whitesmoke;
  color: black;
  font-weight: 50;
  text-align: center;
  border: 5px solid black;
  cursor: pointer;
  font-weight: bold;
}

.black {
  color: black;
  font-weight: bold;
}

.login:hover {
  background-color: transparent;
  
}

.hover:hover {
  background-color: rgb(7, 34, 85, 0.2);
  color: whitesmoke;
}

.error {
  color: red;
  font-weight: bold;
}

.create {
  width: auto;
  padding: 30px 0px;
  color: whitesmoke;
  font-weight: bold;
}

.white-color {
  color: whitesmoke;
  font-weight: bold;
  margin-right: 50px;
}

.wt {
  color: whitesmoke;
  font-weight: bold;
}