* {
  margin: 0;
  padding: 0;
}

.profile {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 600px;
  
}

h2  {
  padding: 20px 0px;
}

table {
  border: 1px solid black;
  width: 300px;

}

table tr, th {
  color: white;
  padding: 10px;
  background-color: black;
}

table td {
  padding: 10px;
  margin: 5px;
  background-color: orange;
}

.form {
  margin: auto 100px; 
}

.error {
  color: red;
}

.image {
  border: 2px solid black;
  border-spacing: 5px;
  padding: 10px;
  border-radius: 120px;
  background-size: contain;
}
